<div class="card row mb-4 post-list">
  <div class="col-md-5">
    <div class="card-title"> 
    <h2>
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    </div>
    <p>
      {{post.post_text}}
    </p>
    <p>Posted by {{post.user.username}} on {{format_date post.createdAt}}</p>
  </div>
</div>
{{#each post.comments  as |comment|}} 
{{> comment-post user_id=1 }}
{{/each}}

<div class="card">
  <div class="card-title">
    <h2></h2>
  </div>
    <form class="comment-form">
        <label for="content">Comment: </label>
        <textarea id="comment-post" name="content" rows="4" cols="50"></textarea>
        <input type="submit" value="Submit">
    </form>
</div>

<script src="/js/comment-post.js"></script>

